Options -Indexes

<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>

DirectoryIndex index.html       
AuthUserFile /app/.htpasswd
AuthType Basic
AuthName “Restricted Access”
Require valid-user